* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    padding: 1%;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
}

nav ul {
    width: 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    width: 100%;
    list-style: none;
    margin-right: 5%;
    
}

nav ul li a {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 100%;
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration-line: underline;
    
}
nav a{
    width: 8%;
}
nav a button {
    background-color: rgb(77, 77, 240);
    width: 100%;
    height: 40px;
    color: white;
    font-size: 1rem;
    border: none;
    margin-left: 0%;
    border-radius: 10%;
    cursor: pointer;
}

.material-icons-outlined {
    font-size: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 100%;
    margin-right: 1%;
    margin-left: 1%;

}
.material-icons-outlined:hover{
    background-color: gainsboro;
}

/* Menu de google con busqueda*/
main {
    width: 100%;
    height: 100%;
    height: fit-content;
}

.imagen, .imagen img{
    margin: auto;
    width: 70%;
    height: 50%;
}
.search-input{
    width: 100%;
    height: 4rem;
    position: relative;
    justify-content: center;
    
}
.search-input span{
    position: absolute;
    width: 50px;
	height: 50px;
    left: 24.5%;
    top: 18%;
	cursor: pointer;
    color: #c5c7ca;
}
.search-input img{
    position: absolute;
    width: 50px;
	height: 50px;
    right: 26%;
	cursor: pointer;
}
.search-input input{
    width: 50%;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    height: 80%;
    border: 1px solid #dfe1e5;
    padding: 0% 4%;
    font-size: 1.5rem;
    
}
.search-input input:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.search-input input:focus,
.search-input input:active{
    outline: none;
}
.bottons-google{
    width: 100%;
    height: 8.6rem;
}
.bottons-google button{
    width: 12%;
    cursor: pointer;
    color: black;
    height: 35%;
    margin: 10px;
    border: none;
    font-size: 1rem;
}
.bottons-google button:hover{
    outline: 1px solid rgba(99, 99, 99, 0.6) ;
}

/* Codificaciondel footer*/
footer {
    background-color: rgb(236, 236, 236);
    display: flexbox;
    bottom: 0%;
}
.location{
    width: 100%;
    height: 10%;
    padding: 1% 2%;
    color: gray;
    border-bottom: solid rgb(180, 180, 180) 1px;
}
.google-activites{
    width: 100%;
    height: 10%;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
}
.google-activites ul{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.google-activites ul:first-of-type{
    justify-content: flex-start;
}
.google-activites ul li{
    margin: 2%;
}
.google-activites ul li a{
    text-decoration: none;
    color: gray;
}
.google-activites ul li a:hover{
    text-decoration-line: underline;
}